<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div id="mapa">
        <h2>Aquí irá el mapa!</h2>
  </div>
  <div class="field"  id="formulario">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
     <%= f.label :logo %><br>
     <%= f.file_field :logo %>
     <% if f.object.logo? %>
       <%= image_tag f.object.logo.thumb.url %>
       <%= f.label :remove_logo %>
       <%= f.check_box :remove_logo %>
     <% end %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
